<div class="chat-group-header">
  Actions
</div>
<div class="actions">
  <%- if true #current_account.employee? && @acct.underwriter? %>
    <%= button_to "Accept Risk", update_status_risk_profile_path(new_status: "accepted", for: "risk_profile"), class:'btn btn-success', method: :patch, remote: true, disabled:  !@risk_profile.submitted? %>
    <%= button_to "Decline Risk", update_status_risk_profile_path(new_status: "declined", for: "risk_profile"), class:'btn btn-danger', method: :patch, remote: true, disabled:  !@risk_profile.submitted?  %>

    <%= button_to "Determine Rating", update_status_risk_profile_path(new_status: "determined", for: "rating"), class:'btn btn-info', method: :patch, remote: true, disabled:  (!@risk_profile.accepted? || @risk_profile.ratings.last.determined?) %>

    <%= button_to "Submit Risk", update_status_risk_profile_path(new_status: "submitted", for: "risk_profile"), class:'btn btn-warning', method: :patch, remote: true, disabled:  @risk_profile.submitted?  %>

  <% elsif current_account.broker? %>
    
  <% end -%>
</div>
<a href="javascript:;">
  <span class="status-online"></span>
  <span>Catherine Moreno</span>
</a>
<a href="javascript:;">
  <span class="status-online"></span>
  <span>Denise Peterson</span>
</a>
<a href="javascript:;">
  <span class="status-away"></span>
  <span>Charles Wilson</span>
</a>
<a href="javascript:;">
  <span class="status-away"></span>
  <span>Melissa Welch</span>
</a>
<a href="javascript:;">
  <span class="status-no-disturb"></span>
  <span>Vincent Peterson</span>
</a>
<a href="javascript:;">
  <span class="status-offline"></span>
  <span>Pamela Wood</span>
</a>
