
<h1 class="text-center">New Risk Profile</h1>

<%= render 'form' %>

<!-- Javascripts -->
<%= content_for :js_includes do %>
  <%= javascript_include_tag 'chosen_v1.4.0/chosen.jquery.min.js', 'data-turbolinks-track' => true %>
<% end %>
