
<!-- sidebar panel -->
<div class="sidebar-panel offscreen-left">
  <div class="brand">
    <!-- logo -->
    <div class="brand-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo_thorson.png', height:'20', alt:'Thorson Insurance' %>
      <% end %>
    </div>
    <!-- /logo -->
    <!-- toggle small sidebar menu -->
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-toggle="layout-small-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
    <!-- /toggle small sidebar menu -->
  </div>

  <!-- main navigation -->
  <nav role="navigation">
    <ul class="nav">
      <!-- dashboard -->
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <!-- /dashboard -->

      <!-- broker portal -->
      <li>
        <%= link_to new_broker_path do %>
          <i class="fa fa-users"></i>
          <span>Brokers Portal</span>
        <% end %>
      </li>
      <!-- /broker portal -->

      <!-- policies -->
      <li>
        <a href="#policies">
          <i class="fa fa-archive"></i>
          <span>Policies</span>
        </a>
      </li>
      <!-- /policies -->

      <!-- underwriting -->
      <li class="menu-accordion">
        <a href="javascript:;">
          <i class="fa fa-binoculars"></i>
          <span>Underwriting</span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#review">
              <span>Review</span>
            </a>
          </li>
          <li>
            <a href="#quote">
              <span>Quote</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- /underwriting -->

      <!-- management -->
      <li class="menu-accordion">
        <a href="javascript:;">
          <i class="fa fa-gears"></i>
          <span>Management</span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="">
              <span>Bind</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>Issue</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>Endorse</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- /management -->

      <!-- administration -->
      <li class="menu-accordion">
        <a href="javascript:;"> <i class="fa fa-eye"></i> <span>Administration</span> </a>
        <ul class="sub-menu">
          <li>
            <a href="">
              <span>Analytics</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>Finances</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>Protocols</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- /administration -->

      <!-- service &  billing -->
      <li class="menu-accordion">
        <a href="javascript:;">
          <i class="fa fa-star"></i>
          <span>Service</span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#billing" target="_blank">
              <span>Billing</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- /service & billing -->

      <!-- support -->
      <li>
        <a href="#support">
          <i class="fa fa-child"></i>
          <span>Support</span>
        </a>
      </li>
      <!-- /support -->

    </ul>
  </nav>
  <!-- /main navigation -->
</div>
<!-- /sidebar panel -->
